@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The Dino Diner respects the privacy and autonomy of species from all ages - prehistoric or otherwise. This site does NOT collect your data. This site does NOT use cookies. This site only offer information about the Dino Diner and its food for both herbivores and omnivores.</p>
